.highlight {
  color: red;
  font-weight: bold;
}

.page-header {
  height: 150px;
  margin-top: 0px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("./../../images/report-header.png");
}

.page-footer {
  height: 360px;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  background-image: url("./../../images/report-fotter.png");
}

tr{
  border-top: hidden;
}

/* td {
  padding-top: 10px;
  padding-bottom: 20px;
} */

@media print {
  * {
    -webkit-print-color-adjust: exact !important;
    /*Chrome, Safari */
    color-adjust: exact !important;
    /*Firefox*/
  }

  div {
    break-inside: avoid;
  }

  table {
    page-break-before: avoid;
  }

  tr {
    page-break-inside: avoid;
    page-break-after: auto;
  }
}